<form
    id="form"
    hx-post="/signin"
    hx-target="#body"
    hx-swap="outerHTML"
    class="flex flex-col items-center border border-main rounded-md shadow-lg gap-3 p-4"
>
    <a
        _="on click add .popup-hidden to #popup-window then remove .blur-bg from #main"
        class="absolute top-0 right-1 cursor-pointer"
    >
        <i class="fa-solid fa-xmark hover:text-gray-400"></i>
    </a>
    <input
        type="email"
        name="email"
        required
        placeholder="E-Mail"
        class="input-text"
    />
    <input
        type="password"
        name="password"
        required
        placeholder="Password"
        class="input-text"
    />
    <button
        _="on click hide #popup-window"
        type="submit"
        class="w-2/3 cursor-pointer rounded-lg border-2 border-black text-white hover:text-black bg-black hover:bg-white transition-colors ease-in-out duration-300"
    >
        Sign In
    </button>
    <li class="flex gap-x-2">
        <ul class="text-black">
            New here?
        </ul>
        <a
            _="on click add .popup-hidden to #popup-window then settle then remove .popup-hidden from #popup-window"
            hx-get="/signup"
            hx-trigger="click"
            hx-target="#popup-window"
            hx-swap="innerHTML swap:0.5s"
            hx-push-url="false"
            class="hover:text-blue-300 text-gray-500 cursor-pointer"
            >Register now.
        </a>
    </li>
</form>
