<div class="flex flex-col justify-center items-center gap-y-8">
    <h3 class="font-bold">
        Leverage the power of connections for your next career move!
    </h3>
    <h2 class="text-4xl text-center font-bold">
        Referral<br />
        Networking pays off
    </h2>
    <p class="text-center w-2/3">
        This is a placeholder for our referral feature. It offers a range of
        benefits and functionalities that can be customised to meet your
        specific needs. Explore the possibilities and see how it can improve
        your workflow.
    </p>
    <div class="grid grid-cols-2 gap-x-6">
        <button type="button" class="btn-feature btn-feature-component">
            Try Now
        </button>
        <button class="btn-feature btn-feature-component">More Info</button>
    </div>
</div>
