{{define "head"}}
<title>{{.Title}}</title>
{{end}} {{define "main"}}
<div class="py-4 px-16">
    <div class="rounded-xl shadow bg-white border border-gray-300 py-2 px-4">
        <h1 class="text-4xl mb-4">Welcome {{.FirstName}} {{.LastName}}</h1>
        <div class="flex justify-between items-center">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-72 pl-8"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
            </svg>
            <button class="btn-feature btn-feature-bar h-fit px-8 py-4">
                Do your personality test now.
            </button>
            <div class="pt-8">
                <div class="flex justify-between">
                    <h2 class="text-2xl">Contact Information</h2>
                    <div
                        class="rounded-full hover:bg-gray-200 p-2 cursor-pointer"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
                            />
                        </svg>
                    </div>
                </div>
                <ul class="pt-2">
                    <li>E-Mail: {{.Mail}}</li>
                    <li>Phone: {{.Phone}}</li>
                    <li>LinkedIn: linkedin.com/in/profile-name/</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex gap-4 mt-4">
        <div class="w-2/3 rounded-xl shadow bg-white">
            <div class="flex flex-col px-4 py-1">
                <div class="flex justify-between">
                    <h2 class="text-2xl">Job Information</h2>
                    <div class="flex gap-6 items-center">
                        <div
                            class="rounded-full hover:bg-gray-200 p-2 cursor-pointer"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-6"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M12 4.5v15m7.5-7.5h-15"
                                />
                            </svg>
                        </div>
                        <div
                            class="rounded-full hover:bg-gray-200 p-2 cursor-pointer"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-6"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
                                />
                            </svg>
                        </div>
                    </div>
                </div>
                {{if not .Experience}}
                <div class="self-center">No work experience added.</div>
                {{else}} {{range .Experience}}
                <div class="flex flex-col gap-2 pl-2">
                    <div class="text-lg font-bold">Senior Consultant</div>
                    <!-- <div class="text-md font-semibold">
                        Boston Consulting Group - Full-time
                    </div> -->
                    <div>07/2020-05/2024 (3 yr 10 mos)</div>
                    <div>Mid-Senior level</div>
                    <div>Manage People (Team of 3)</div>
                </div>
                <div class="border-b border-gray-400 my-2"></div>
                <div class="flex flex-col gap-2 pl-2">
                    <div class="text-lg font-bold">Consultant Analyst</div>
                    <!-- <div class="text-md font-semibold">
                        McKinsey & Company - Full-time
                    </div> -->
                    <div>09/2018-06/2020 (1 yr 10 mos)</div>
                    <div>Mid-Senior level</div>
                    <div>Manage People (Team of 4)</div>
                </div>
                {{end}} {{end}}
            </div>
        </div>
        <div class="w-1/3 rounded-xl shadow bg-white p-2">
            <h2 class="text-2xl pb-4">Status of Blankshots</h2>
            <div class="flex flex-col gap-2">
                {{if not .BlankShots}}
                <div class="self-center">No active Blank-Shots.</div>
                {{else}} {{range .BlankShots}}
                <div class="flex justify-between pr-2">
                    <div class="flex gap-2">
                        <h2 class="text-md">{{.Date}} ---</h2>
                        <h2 class="text-md">Days left: {{.RemainingDays}}</h2>
                    </div>
                    <div class="relative inline-block group">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6 group-hover:text-gray-300"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
                            />
                        </svg>
                        <div
                            class="absolute bottom-0 right-0 rounded-full text-white bg-red-500 text-xs px-[5px] transform translate-x-1/2 translate-y-1/2"
                        >
                            5
                        </div>
                    </div>
                </div>
                <div class="flex flex-col">
                    <h3
                        _="on click toggle .filter-visible on the next <ul/>"
                        class="font-semibold underline hover:text-gray-300 cursor-pointer justify-self-start w-fit"
                    >
                        Used Filters
                    </h3>
                    <ul
                        class="overflow-hidden transition-all duration-1000 ease-in-out max-h-0"
                    >
                        <li>Remote: {{if .Remote}}Yes{{else}}No{{end}}</li>
                        <li>Continent: {{.Continent}}</li>
                        <li>Country: {{.Country}}</li>
                        <li>State: {{.State}}</li>
                        <li>Job Function: {{.JobFunction}}</li>
                        <li>Seniority: {{.Seniority}}</li>
                        <li>
                            Visa Sponsorships: {{if
                            .VisaSponsorship}}Yes{{else}}No{{end}}
                        </li>
                    </ul>
                </div>
                {{end}} {{end}}
            </div>
        </div>
    </div>
</div>
{{end}}
